{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Among-tool</h1>
        <p class="lead">Fully dynamic dashboard</p>
        <hr class="my-4">
        <p>Create tool too manage your team</p>
    </div>
    <div class="container">
        {% if 'CreateDashboard' in droits %}
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="{{ path('createDashboard') }}"><button class="btn btn-primary" type="button">Create Dashboard</button></a>
        </div>
        {% endif %}
    </div>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Dashboard</th>
            </tr>
            </thead>
            <tbody>
            {% for dash in dashboards %}
                <tr>
                    <th scope="row"><a href="{{ path('dashboardShow',{idDash:dash.id}) }}"  class="btn btn-outline-primary">{{ dash.name }}</a></th>
                    {% if 'DeleteDashboard' in droits %}
                    <th scope="row"><a href="{{ path('deleteDashboard',{idDash: dash.id}) }}" class="btn btn-primary">Delete</a></th>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        {% if 'CreateDashboard' in droits %}
            <div class="d-grid gap-2 col-6 mx-auto">
                <a href="{{ path('createDashboard') }}"><button class="btn btn-primary" type="button">Create Dashboard</button></a>
            </div>
        {% endif %}
    </div>
{% endblock %}
