{% extends 'base.html.twig' %}

{% block title %}Hello CreateDashboardController!{% endblock %}

{% block body %}
    {% if structure is null %}
    <div class="alert alert-warning" role="alert">
        Dashboard is not structured configure it !
    </div>
    {% endif %}
    <div class="container">
        {% if 'ConfigDashboard' in DroitDash %}
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="{{ path('configDashboard', {idDash: Dash.id})}}"><button class="btn btn-primary" type="button">Configurer Dachboard</button></a>
        </div>
        {% endif %}
    </div>

    <div class="container">
        <form method="post" action="{{ path('dashboardShow', {idDash: Dash.id}) }}">
    <table class="table">
        <thead>
        <tr>
            <script type="text/javascript">
                var Col = [];
                var j=-1;

            </script>
            {% for colonne in colonnes %}
            <th scope="col">{{ colonne.name}}</th>
            <script type="text/javascript">
                Col.push(["{{ colonne.type }}","{{ colonne.name }}"])
            </script>
            {% endfor %}

        </tr>
        </thead>
        <tbody id="body">
        {% set i =0 %}

        {% for ligne in Dash.lignes %}



        <tr>

            {% for case in ligne.carre %}

            <td>
                {% if case.colonne.type == 'date' %}
                    <div class="d-flex flex-column bd-highlight mb-3">
                    <label>{{ case.Valeur|date("d/m/Y") }}</label>
                        <input type="{{ case.colonne.type }}"  name="{{ case.id }}?{{ case.colonne.name }}{{ i }}a" ></div>
                {% else %}
                    <div class="d-flex flex-column bd-highlight mb-3">
                    <label>{{ case.Valeur }}</label>
                    <input type="{{ case.colonne.type }}"  name="{{ case.id }}?{{ case.colonne.name }}{{ i }}a"></div>
                    {% endif %}
            </td>








            {% endfor %}
            <td>
                <div class="d-flex flex-column bd-highlight mb-3">
                <a href="{{ path('delLigne',{idDash: Dash.id, ligneId: ligne.id}) }}"><button  type="button" class="btn btn-outline-dark"><i class="fas fa-minus"></i></button></a>
                </div>
            </td>
            {% set i =i+1 %}
        </tr>


        {% endfor %}


        </tbody>
    </table>


        <p class="text-center">
            <button id="addLigne" type="button" class="btn btn-outline-dark"><i  class="fas fa-plus"></i></button>
        </p>
            <p class="text-start">
                <button class="btn btn-primary" type="submit">submit</button>
            </p>
        </form>
    </div>
    <div class="container mt-4">
        <div class="badge bg-primary text-wrap mb-2" style="width: 6rem;">
            Users working on this project
        </div>
    </div>
    <ul class="list-group">
        {% for user in users %}
        <li class="list-group-item">{{ user.email }}</li>
        {% endfor %}
        <li class="list-group-item"><i class="fas fa-plus" id="addUser"></i><i class="fas fa-minus" id="noAddUser" style="display: none"></i></li>
    </ul>
    <form method="post" action="{{ path('userMaker', {idDash: Dash.id}) }}">
        <div class="form-group">

            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <label for="inputGroupSelect">Email address</label>
        <select class="custom-select" name="existingUser" id="inputGroupSelect">
            <option selected></option>
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.email }}</option>
            {% endfor %}
        </select>
    <table class="table" id="newUser" style="display: none">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Write</th>
            <th scope="col">Read</th>
            <th scope="col">Modify</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for colonne in colonnes %}
        <tr>
            <th scope="row">{{ colonne.name }}</th>
            <td><input type="checkbox" id="scales" name="write{{ colonne.name }}"></td>
            <td><input type="checkbox" id="scales" name="read{{ colonne.name }}"></td>
            <td><input type="checkbox" id="scales" name="modify{{ colonne.name }}"></td>
            <td><input type="checkbox" id="scales" name="delete{{ colonne.name }}"></td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    </form>
    </div>
    <script type="text/javascript">

        function displayFormNewUser(){
            var form = document.getElementById('newUser');
            form.style.display = "block";
            var plus = document.getElementById('addUser');
            plus.style.display ="none";
            var moins = document.getElementById('noAddUser');
            moins.style.display ="block";
        }
        function undisplayFormNewUser(){
            var form = document.getElementById('newUser');
            form.style.display = "none";
            var plus = document.getElementById('addUser');
            plus.style.display ="block";
            var moins = document.getElementById('noAddUser');
            moins.style.display ="none";
        }

        function  addLigneForm(){
            j++;
            var body = document.getElementById('body');
            var tr = document.createElement('tr');
            for(let i=0;i<Col.length;i++){

                var input = document.createElement("input");
                var td = document.createElement("td");
                input.setAttribute("type",Col[i][0]);
                input.setAttribute("name",Col[i][1]+j);
                td.appendChild(input);
                tr.appendChild(td);


            }
            body.insertAdjacentElement('beforeend',tr);
        }
        document.getElementById('addLigne').addEventListener("click",addLigneForm);
        document.getElementById('addUser').addEventListener("click",displayFormNewUser);
        document.getElementById('noAddUser').addEventListener("click",undisplayFormNewUser);


    </script>

{% endblock %}
