{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    {% if erreur is not null %}
    <div class="alert alert-warning" role="alert">
        {{ erreur }}
    </div>
    {% endif %}


    <div class="d-flex flex-row">
<div class="container">
    <form action="{{ path('users') }}" method="post">
        <div class="form-group">

            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>



        <div class="form-group container">
            <table class="table">

                <thead>
                <!-- En-tête du tableau -->

                </thead>



                <tbody>
                <!-- Corps du tableau -->
                <tr>
                    <td>Create dashboard</td>
                    <td> <input type="checkbox" name="1"></td>

                </tr>

                <tr>
                    <td>Configure dashboard</td>
                    <td><input type="checkbox"  name="2"></td>

                </tr>
                <tr>
                    <td>Delete dashboard</td>
                    <td><input type="checkbox"  name="3"></td>

                </tr>
                <tr>
                    <td>Add user to dashboard</td>
                    <td><input type="checkbox"  name="4"></td>

                </tr>

                </tbody>

            </table>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="isAdmin">
                <label class="form-check-label" for="flexCheckDefault">
                    Give admin role
                </label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
    <div class="container">
        <form action="{{ path('users') }}" method="post">
        <div class="form-group">
            <label for="inputGroupSelect">Email address</label>
            <select class="custom-select" name="existingUser" id="inputGroupSelect">
                <option selected></option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.email }}</option>
                {% endfor %}
            </select>
            <table class="table">

                <thead>
                <!-- En-tête du tableau -->

                </thead>



                <tbody>
                <!-- Corps du tableau -->
                <tr>
                    <td>Create dashboard</td>
                    <td> <input type="checkbox" id="scales" name="e1"></td>

                </tr>

                <tr>
                    <td>Configure dashboard</td>
                    <td><input type="checkbox" id="scales" name="e2"></td>

                </tr>
                <tr>
                    <td>Delete dashboard</td>
                    <td><input type="checkbox" id="scales" name="e3"></td>

                </tr>
                <tr>
                    <td>Add user to dashboard</td>
                    <td><input type="checkbox" id="scales" name="e4"></td>

                </tr>

                </tbody>

            </table>
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    </div>
{% endblock %}